@media only screen and (max-width: 600px){
#wrapper{
    margin-top:30vh;
}
#tictechtoelogo{
    height:9vh;
    width:45vw;
    text-align:left;
}
.icons
{
    font-size:9vw;
}
.glitch1{
    color: white;
    font-size: 22vw;
    width: 40rem;
    position: relative;
  }
.glitch1::after {
    content: attr(data-trick1);
    position: absolute;
    top: 0;
    left: 6vw;
    color: white;
   /* background-color: #0C1016; */
    overflow: hidden;
    text-shadow: -0.5rem 0 #FF6E48;
    clip: rect(0, 90rem, 0, 0);
    animation: noise 3s infinite linear alternate-reverse;
    }glitch::before {
    content: attr(data-trick1);
    position: absolute;
    top: 0;
    left: -1rem;
    color: white;
    background-color: #0C1016;
    overflow: hidden;
    text-shadow: 0.3rem 0 #FF6E48;
    clip: rect(0, 90rem, 0, 0);
    animation: noise 4s infinite linear alternate-reverse;
}
.glitch2 {
    color: white;
    font-size: 12vw;
    width: 40rem;
    position: relative;
  }
.glitch2::after {
    content: attr(data-trick2);
    position: absolute;
    top: 0;
    left: 5vw;
    color: white;
   /* background-color: #0C1016; */
    overflow: hidden;
    text-shadow: -0.5rem 0 #FF6E48;
    clip: rect(0, 90rem, 0, 0);
    animation: noise 3s infinite linear alternate-reverse;
    }glitch::before {
    content: attr(data-trick2);
    position: absolute;
    top: 0;
    left: -1rem;
    color: white;
    background-color: #0C1016;
    overflow: hidden;
    text-shadow: 0.3rem 0 #FF6E48;
    clip: rect(0, 90rem, 0, 0);
    animation: noise 4s infinite linear alternate-reverse;
}
}